.background {
    display: flex;
    flex-direction: column;
    height: 90vh;
}


.list{
    margin-top: 1em;
}

.history {
    height: 280px;
    width: 456px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.images {
    display: flex;
    margin-top: 5em;
    height: 150px;
    justify-content: space-around;
}
